<div class='content'>
    <h1>Elija el metodo de pago</h1>

    <div class="dpx">
        <div class='py'>
            <label>
                <input type="radio" class="option-input radio" name="example" checked  />
                Tarjeta<i class="fa-solid fa-credit-card"></i>
            </label>
            <label>
                <input type="radio" class="option-input radio" name="example" disabled />
                Paypal <i class="fa-brands fa-paypal"></i>
            </label>
            <label>
                <input type="radio" class="option-input radio" name="example" disabled />
                Efectivo<i class="fa-solid fa-dollar-sign"></i>
            </label>

            <label>
                <input type="radio" class="option-input radio" name="example" disabled />
                Via SMS<i class="fa-solid fa-mobile"></i>
            </label>
        </div>
    </div>
    <p style="color: brown;">De momento solo contamos con metodo de pago por tarjeta <br> En un futuro agregaremos más
    </p>

    <a type="button" class="btn btn-success" routerLink="/tarjeta" style="margin: 2rem;">Proseguir con el pago</a>

</div>