<div class="container" style="margin-top: 3rem;">
    <h1 class="text-center"> Garantias</h1>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form ngNativeValidate (submit)="saveNewGarantia()">
                    <div class="form-group">

                        <select name="select" name="codigoProducto" class="form-control img-fluid" [(ngModel)]="garantia.codigoProducto">
                            <option *ngFor="let producto of productos" value={{producto.codigo}} >{{producto.codigo}}</option>
                            
                          </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <input name="motivo" type="url" [(ngModel)]="garantia.imagen" placeholder="URL de la imagen" class="form-control" required="">
                    </div>
                    <br>
                    <!--Usa la variable edit para saber si es true usa update game si no usa savegame-->
                    <div class="text-center">
                        <button class="btn btn-success btn-block text-center">
                        Guardar
                    </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>