<div class="container" style="margin: 3rem;">
    <h2>Carrito</h2>

    <div class="row">

        <div class="col-9">

            <div class="row" *ngFor="let item of items ">
                <div class="col-3">
                    <img [src]="item.product.imagen" class="card-img-top">
                </div>
                <div class="col-8">
                    <br>
                    <p>{{item.product.nombre}}</p>
                    <div *ngIf="item.product.existencia > 0">
                        <p style="color: greenyellow;">Disponible</p>
                        <br>
                        <p>Pedidos {{item.quantity}}</p>
                        <input type="number" class="form-control" placeholder="Cantidad">
                    </div>
                </div>

                <div class="col-1">


                    <div *ngIf="item.product.precio> 0">
                        <h5>Precio c/u</h5>
                        <p style="color: green;">${{item.product.precio}}</p>

                        <button class="btn btn-danger btn-sm" (click)="deleteItem(item.product.nombre)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="text-center">
                <h5>Total a pagar</h5>
                <h4>${{totalCompra()}}</h4><br>
                <button class="btn btn-success btn-sm" routerLink="/formadepago">Proceder a pagar</button>
            </div>
        </div>
    </div>