<div class="container bg-light" style="margin-top: 1.5rem; margin-bottom: 3rem;">
    <div class="row">
        <div class="col-8">
            <div class="  text-center">

                <img [src]="producto.imagen" width="550" height="550" class="zoom">
            </div>
        </div>
        <div class="col-4">
            <div class=" " style="margin-top: 3rem;">
                <h2>{{producto.nombre}}</h2>
                <p class="fs-6">
                    {{producto.codigo}}
                </p>
                <br>
                <p class="fs-3" style="color: green;">
                    ${{producto.precio}}.MXN
                </p>
                <br>
                <p class="fs-5 font-monospace">
                    {{producto.descripcion}}
                </p>
                <br>



                <div *ngIf="producto.existencia == 0; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <p style="color: crimson;">Lo sentimos No hay Stock</p>
                </ng-template>
                <ng-template #elseBlock>
                    <div class="d-grid gap-2">
                        <h4 style="color: blueviolet;">Stock Disponible</h4>

                        <p style="color: cornflowerblue;">{{producto.existencia}}</p>

                        <button class="btn btn-success" type="button" (click)="grabar_localstorage()">Agregar al carrito</button>
                    </div>
                </ng-template>

            </div>
        </div>
    </div>
</div>