<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/principal/carousel_3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;">Aprovecha las mejores ofertas con nosotros.</h5>
                <p>Precios super bajos todo el año</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./assets/principal/carousel_2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;">Tenemos lo que otros no.</h5>
                <p>Como la nueva rtx</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="./assets/principal/carousel_4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color: white;">Mejora tu espacio de trabajo</h5>
                <p>Tu rendimiento mejora si tu equipo mejora.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <div class="row" style="text-align: center;">
        <div class="col-md-3">

            <h3 class="fw-bold text-start">Ver recomendaciones personalizadas.</h3>
            <br>
            <a class="btn bg-warning text-wrap text-center" routerLink="/iniciosesion">Inicia Sesión</a>
            <br>
            <br>
            <p>
                ¿Eres un cliente nuevo? <a routerLink="/registro">Empieza aquí</a>.
            </p>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <h3 class="text-start">Promociones</h3>
                <img src="./assets/principal/cardssd.jpg" class="card-img-top" alt="...">
                <div class="badge bg-success text-wrap" style="width: 6rem;">
                    Promocion
                </div>
                <div class="card-body">

                    <p class="card-text">Novedades de temporada a precios bajos.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <h3 class="text-start">Accesorios</h3>
                <img src="./assets/principal/accesorios.jpg" class="card-img-top" alt="...">
                <div class="badge bg-warning text-wrap" style="width: 6rem;">
                    Limitado
                </div>
                <div class="card-body">

                    <p class="card-text">Los mejores accesorios para tu smartphone solo aquí aprovecha</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <h3 class="text-start">Audifonos</h3>
                <img src="./assets/principal/audifonos.jpg" class="card-img-top" alt="...">
                <div class="badge bg-danger text-wrap" style="width: 6rem;">
                    50% Off
                </div>
                <div class="card-body">

                    <p class="card-text">Audifinos hasta con 50% de descuento solo para ti ¿Qué esperas?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;" style="margin-top: 3rem;">
        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img src="./assets/principal/mother-board.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Seguridad, de principio a fin</h5>
                    <p class="card-text">¿No te gusta? ¡Devuélvelo! no hay nada que no puedas hacer, porque estás siempre protegido.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="">Cómo te protegemos</a></li>

                </ul>

            </div>

        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/principal/mouse.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Envío gratis desde $ 299</h5>
                    <p class="card-text">Tienes envíos gratis en millones de productos seleccionados.

                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Conoce más sobre estos beneficios</li>

                </ul>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/principal/procesadoramd.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Productos Nuevos</h5>
                    <p class="card-text">Productos totalmente nuevos a precios super bajo</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a routerLink="/productos">Checalos!</a></li>

                </ul>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="./assets/principal/social-media.jpg" class="card-img-top" alt="...">

                <div class="card-body">
                    <p class="fs-4">Contactanos en nuestras redes sociales</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <button class="btn bg-info">Conoce mas</button>
            </div>
        </div>
    </div>
</div>