<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let producto of productos" style="margin-top: 2rem;">

            <div class="card text-center">
                <div class="card-header bg-dark text-white d-flex justify-content-between aling-items-center">
                    <p class="fs-4">{{producto.nombre}}</p>
                    <button type="button" class="btn btn-danger" (click)="deleteProductos(producto.id)">
                   
                        <i class="far fa-trash-alt"></i>
                     </button>
                    <!--
                        
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                   
                        <i class="far fa-trash-alt"></i>
                     </button>
    
                    
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Confirmación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
    
                                <div class="modal-body">
                                    <p style="color: black;">
                                        ¿Realmente quiere eliminar el producto?{{producto.nombre}}
                                    </p>
                                </div>
    
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProductos(producto.id)">
                                        Confirmar
                                    </button>
                                </div>
                            </div>
    
                        </div>
                    </div>
                    -->

                </div>

                <div class="card-body" style="color: black;">
                    <img [src]="producto.imagen" class="card-img-top">
                    <p>Codigo: {{producto.codigo}}</p>
                    <p style="color: green;">Precio ${{producto.precio}}.MXN</p>

                    <!--<p>{{producto.descripcion}}</p>-->

                    <p style="color: teal;">{{producto.categoria}}</p>


                    <p>Existencia:</p>
                    <p style="color: cadetblue;"> {{producto.existencia}}</p>

                    <p>Proovedor:</p>
                    <p style="color: violet;"> {{producto.proovedor}}</p>

                </div>
                <a class="btn btn-info btn block" [routerLink]="['/productos/edit',producto.id]">Editar</a>
            </div>

        </div>
    </div>
</div>