<!--
    .color1 {color: #ff00aa;}
.color2 {color: #ff5f53;}
.color3 {color: #ffcf41;}
.color4 {color: #f1ffa1;}
.color5 {color: #acffff;}
-->

<div class="container" style="margin-top: 3rem; margin-bottom: 2rem;">
    <div class="row" style="text-align: center;">
        <div class="col-md-3">
            <div class="card" style="width: 18rem; background-color: #acffff;">
                <div class="card-body">
                    <p class="card-text">0 <br><i class="fa-solid fa-users"></i> Usuarios.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem; background-color: #f1ffa1;">
                <div class="card-body">
                    <p class="card-text">0 <br><i class="fa-solid fa-hammer"></i> Administradores.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem; background-color: #ffcf41;">
                <div class="card-body">
                    <p class="card-text">0 <br><i class="fa-solid fa-truck-field"></i> Proovedores.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem; background-color: #ff5f53;">
                <div class="card-body">
                    <p class="card-text">0 <br><i class="fa-solid fa-clipboard-check"></i> Total.</p>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-success table-striped" style="margin-top: 5rem;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
                <th scope="col">Fecha de registro</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2"></td>
                <td></td>
            </tr>
        </tbody>
    </table>



    <div class="row" style="text-align: center; margin-top: 2rem;">
        <div class="col-md-6">
            <button type="button" class="btn btn-success " routerLink="">Editar</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-danger ">Eliminar</button>
        </div>

    </div>
</div>