<div class="container" style="margin-top: 2rem; margin-bottom: 2rem; margin-left: 6rem; margin-right: 6rem;">
    <form ngNativeValidate (submit)="saveNewVenta()">
        <div class="form-container">
            <div class="personal-information">
                <h1>Informacion de pago
                    <br>
                    <br>
                    <h4>Total</h4>
                </h1>

                <p style="color: yellowgreen;">${{totalCompra()}}</p>
            </div>

            <!-- end of personal-information -->

            <input id="column-left" type="text" name="first-name" placeholder="First Name" required/>
            <input id="column-right" type="text" name="last-name" placeholder="Last name" required/>
            <input id="input-field" type="number" name="number" placeholder="Card Number" required/>
            <input id="column-left" type="number" name="expiry" placeholder="MM / YY" required/>
            <input id="column-right" type="number" name="cvc" placeholder="CCV" required/>

            <div class="card-wrapper"></div>

            <input id="input-field" type="text" name="streetaddress" required="required" autocomplete="on" maxlength="45" placeholder="Streed Address" />
            <input id="column-left" type="text" name="city" required="required" autocomplete="on" maxlength="20" placeholder="City" />
            <input id="column-right" type="text" name="zipcode" required="required" autocomplete="on" pattern="[0-9]*" maxlength="5" placeholder="ZIP code" />
            <input id="input-field" type="email" name="email" required="required" autocomplete="on" maxlength="40" placeholder="Email" />
            <input id="input-button" type="submit" value="Submit" />
        </div>
    </form>
</div>