<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container-fluid text-center">
        <a class="navbar-brand" routerLink="/"><i class="fa-solid fa-house"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!--
                <li class="nav-item">
                    <a class="nav-link" routerLink="/games" routerLinkActive="active"><i class="fa-solid fa-gamepad"></i> Juegos</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/games/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Agregar Juegos</a>
                </li>
                -->

                <li>
                    <a class="nav-link text-center  text-white" style="margin-top: 1px;" routerLink="/vistaproductos"><i class="fa-solid fa-bag-shopping"></i><br>Productos</a>
                </li>
                <li *ngIf="onCheckUser()" class="nav-item dropdown text-white" style="margin-top: 1px;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa-solid fa-hammer"></i> <br> Mas acciones</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/adminUsers">Administrar Usuarios</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/productos">Editar Productos</a>
                        <a class="dropdown-item" routerLink="/productos/add">Agregar Productos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/ventas">Reporte Ventas</a>
                        <a class="dropdown-item" routerLink="/reporteCompras">Reporte Compras</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/garantiaadmin">Garantias</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/reabastecimiento">Lista de reabastecimiento</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" routerLink="/games/add">Agregar Juegos</a>
                        <a class="dropdown-item" routerLink="/games">Juegos</a>
                    </div>
                </li>

            </ul>
        </div>
        <div class="nav-item dropdown text-white" style="margin-top: 1px;">
            <a (click)="reloadCurrentRoute()" class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-cart-arrow-down"></i><br>Carrito</a>
            <div class="dropdown-menu text-white">

                <p class="dropdown-item">{{productos.nombre}}</p>
                <p class="dropdown-item">{{productodos.nombre}}</p>
                <p class="dropdown-item">{{productotres.nombre}}</p>
                <p class="dropdown-item">{{productocuatro.nombre}}</p>
                <p class="dropdown-item">{{productocinco.nombre}}</p>
                <div class="dropdown-divider"></div>
                <div class="text-center"><button class="btn btn-danger" (click)="deletecarrito()">Eliminar carrito</button></div>
            </div>
        </div>
        <div class="nav-item ">
            <a style="" class="nav-link text-white" routerLink="/garantiaClientes"><i class="fa-solid fa-star"></i><br>Garantias</a>
        </div>
        <div class="nav-item ">
            <ng-container *ngIf="!onCheckUser(); then thenBlock else elseBlock"></ng-container>
            <ng-template #thenBlock><a mat-button [routerLink]="['/iniciosesion']" class="nav-link text-white"><i class="fa-solid fa-arrow-right-to-bracket"></i><br>Loggin</a></ng-template>
            <ng-template #elseBlock><a mat-button [routerLink]="['/']" class="nav-link text-white" (click)="logout()"><i class="fa-solid fa-arrow-right-from-bracket"></i><br>Salir</a></ng-template>
        </div>
    </div>
</nav>